<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>uploadeds リスト</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>


        <div class="row">
                <div class="col-md-6">
                    <form th:action="@{/uploadeds/search}" th:method="post">
                    <div class="input-group">
                        <input type="text" name="query" class="form-control" placeholder="検索語を入力(曖昧不可)" />
                        <span class="input-group-btn">
                        <input class="btn btn-default" type="submit" value="検索" />
                        </span>
                    </div>
                    </form>
                </div>
        </div>


<div class="container">
    <h1>検索結果</h1>
    <table class="table">
        <thead>
        <tr>
            <th>名前</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="uploaded:${uploadeds}" th:object="${uploaded}">
            <td id="image_id" th:text="*{id}"></td>
                <script type="text/javascript">
                    var imageId = document.getElementById("image_id").innerText;
                    var mysrc = "../saved/" + imageId + ".jpg";
                    var content = '<img src="' + mysrc + '" width="104" height="91" />'
                    document.write(content);
                    /*
                    var img = document.getElementById("image_place");
                    var imageId = document.getElementById("image_id").innerText;
                    img.src = "/Users/sou/IdeaProjects/mytodoapp/src/main/resources/saved/" + imageId + ".jpg";
                    */
                </script>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
